@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Base styles */
    body {
        @apply bg-main w-full h-full font-chanom overscroll-x-contain m-0;
    }

    h1 {
        @apply text-4xl font-bold underline text-center;
    }

    div {
        @apply text-lg;
    }
}

@layer components {
    /* Component styles */
    .btn {
        @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
    }

    .container {
        @apply h-full w-full flex flex-col justify-center items-center relative;
    }
}

@layer utilities {
    /* Utility styles */
    @font-face {
        font-family: 'Nickainley';
        src: url('../fonts/Nickainley-Normal.otf');
    }

    @font-face {
        font-family: 'Samuel';
        src: url('../fonts/Samuel.ttf');
    }
    
    @font-face {
        font-family: 'Chanom';
        src: url('../fonts/Chanom.ttf');
    }

    .font-nick {
        font-family: 'Nickainley', cursive;
    }

    .font-samuel {
        font-family: 'Samuel';
    }

    .font-chanom {
        font-family: 'Chanom';
    }

    .bg-main {
        background-image: url('../images/bg.jpg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: repeat-y;
    }

    .bg-main-index {
        background-image: url('../images/bg-main.png');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: repeat-y;
    }
}